<div class="container">
  <h1>Book List</h1>
  <app-search />

  <button mat-raised-button color="primary" routerLink="/add">Add Book</button>
  @if (books().length) {
    <div>
      @for (book of books(); track book.id) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <a [routerLink]="['/book', book.id]">
                {{ book.title }}
              </a>
            </mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p><strong>Year: </strong>{{ book.year }}</p>
          </mat-card-content>
        </mat-card>
      }
    </div>
  } @else {
    <p>No books found.</p>
  }
</div>
